@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: max(200px, 15vw) auto;
    grid-template-rows: max(200px, 15vh) auto;
    font-family: "Roboto";
    font-weight: bold;
}

.background {
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) .5%, rgba(0, 0, 0, 0) .5%, rgba(0, 0, 0, 0) 1%),
    repeating-linear-gradient(135deg, rgba(0, 0, 0, 1) 0.1%, rgba(0, 0, 0, 1) .5%, rgba(0, 0, 0, 0) .5%, rgba(0, 0, 0, 0) 1%),
    linear-gradient(90deg, magenta, cyan);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -10;
}

.sidebar {
    background-image: linear-gradient(135deg, black 30vh, rgba(0, 0, 0, 0) 80vh);
    color: yellow;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    row-gap: 2rem;
    padding: 1rem max(1.5rem, 1.8vw);
}

.title {
    font-size: 1.5rem;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: max-content auto;
    align-items: center;
}

.side-options {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: max-content auto;
    align-items: center;
}

.header {
    background-color: yellow;
    grid-area: 1 / 2 / 2 / 3;
}

.header-section {
    display: grid;
    grid-template-columns: 5fr 3fr;
    padding: 1rem 2.5rem;
    gap: 5rem;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    gap: 1rem;
}

input {
    flex: 1;
    appearance: none;
    border: none;
    outline: none;
    background-image: repeating-linear-gradient(135deg, magenta 0%, yellow 20%, cyan 30%, magenta 40%);
    color: black;
    height: 2rem;
    font-family: "Roboto";
    font-weight: bold;
    border-radius: 2rem;
    padding: 1rem;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.avatar {
    height: 3rem;
    width: 3rem;
}

.big-avatar {
    min-height: 5rem;
    min-width: 5rem; 
}

.nameholder>div:first-child {
    font-size: 0.8rem;
}

.nameholder>div:last-child {
    font-size: 1.5rem;
}

button {
    flex: 1;
    min-width: 5rem;
    max-width: 8rem;
    appearance: none;
    border: none;
    border-radius: 2.5rem;
    background-color: black;
    color: yellow;
    font-weight: bold;
    height: 2.5rem;
}


.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    font-size: 1.5rem;
    color: yellow;
    text-shadow: 2px 2px 0 magenta, -2px -2px 0 cyan;
    padding: 1rem;
    grid-template-columns: auto 20rem;
    gap: 1rem;
}

.projects-grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: 20rem;
    justify-content: space-around;
    gap: 3rem;
}

.project-holder {
    position: relative;
    overflow: hidden;
    padding: 3rem 1.5rem 1rem 1rem;
    display: grid;    
}

.yellow-shape {
    position: absolute;
    top: 0;
    left: -10%;
    background-color: yellow;
    width: 20rem;
    height: 20rem;
    transform: rotateZ(35deg);
    z-index: -1;
}

.icons-holder {
    justify-self: center;
    align-self: end;
}

.side-content {
    display: grid;
    grid-template-rows: max-content;
}

.side-content-holder {
    margin: 1rem;
    background-color: yellow;
    font-size: 1rem;
    padding: .5rem 1rem;
    display: grid;
}

.side-content-holder>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}